.cards {
  display: flex;
  gap: 2em;
}

.favorite-card_fruits {
  background-color: #fff2f0;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2em;
  gap: 0.75em;
}

.favorite-card_vegetables {
  background-color: #eff7ee;
  width: 10rem;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2em;
  gap: 0.75em;
}

/*.content-bar {
  background-color: #fff8ee;
  height: 7em;
}
*/
