.cards {
  display: flex;
  gap: 2em;
}

.favorite-card {
  width: 8.5rem;
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 2em;
  gap: 0.75em;
}

.favorite-card--fruits {
  background-color: #fff2f0;
  color: #4d0a00;
}

.favorite-card--vegetables {
  background-color: #eff7ee;
  color: #1c3418;
}

.favorite-card--snacks {
  background-color: #fff8eb;
  color: #4d3200;
}

/*.content-bar {
  background-color: #fff8ee;
  height: 7em;
}
*/
