.welcome {
  background-color: var(--color-primary);
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.welcome__logo {
  font-size: 2rem;
  /* font-family: Helvetica, Arial, sans-serif; */
  color: var(--color-light);
  animation: 2s ease-in-out infinite scaleAni;
}

@keyframes scaleAni {
  0% {
    transform: scale(0.5, 0.5);
    letter-spacing: normal;
    font-weight: 100;
    opacity: 5%;
  }
  30% {
    transform: scale(1.25, 1.25);
    letter-spacing: 0.4em;
    font-weight: 900;
    opacity: 100%;
  }
  100% {
    transform: scale(0.5, 0.5);
    letter-spacing: normal;
    font-weight: 100;
    opacity: 5%;
  }
}
