.welcome {
  background-color: var(--color-primary);
  height: 100vh;
  display: grid;
  place-items: center;
  grid-template-rows: 20% 60% 20%;
}
/* 
.subtitle {
  position: absolute;
  color: #cfe7cb;
  bottom: 10%;
  letter-spacing: -1em;
} */
